.clock {
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: $primary-color;
    background-image:
        linear-gradient(270deg, transparent 50%, $primary-color 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    border: 1px solid $primary-color;
    margin: 2em auto;
}
.block {
    position: absolute;
    background: $primary-color; /* fff  DA8796*/ 
    width: 242px;
    height: 242px;
    display: block;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}
#time {
    color: #fff;
    font-family: $primary-fonts;
    font-size: 5rem;
    font-weight: $font-thin;
    position: absolute;
    top: 10%;
    left: 10%;
}