.add-task {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  form {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    @include respond-min(mid) {
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
    }
  }
}

.add-task-inputs {
  display: flex;
  flex: 1 auto;
  @include respond-min(mid) {
    flex: 4 auto;
  }
  // width: 100%
}

.txt-add-task {
  display: inline-blcok;
  font-family: $primary-fonts;
  font-size: $font-size-base/1.25;
  font-weight: $font-light;
  flex: 1 auto;
  margin-bottom: $base-fs/2;

  &.sessions {
    margin-left: $base-fs/4;
    @include respond-min(xs) {
      margin-left: $base-fs/4;
    }
  }

  @include respond-min(mid) {
    margin-bottom: 0px;
  }
}
  
.btn-add-task {
  font-family: $primary-fonts;
  font-size: $font-size-base/1.25;
  font-weight: $font-light;
  margin-left: 0px;
  margin-bottom: $font-size-base/1.5;
  position: relative;
  flex: 1 100%;

  @include respond-min(mid) {
    margin-bottom: 0px;
    margin-left: $base-fs/4;
    flex: 1 auto;
  }
}