.welcome {
  color: $primary-color;
  left: 0;
  line-height: 200px;
  margin-top: -170px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  -moz-animation-name: dropWelcome;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;

  -webkit-animation-name: dropWelcome;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;

  animation-name: dropWelcome;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;

  @include respond-min(mid) {
    line-height: 200px;
    margin-top: -170px;
  }

  h1 {
    font-size: 1.75rem;
    font-family: $primary-fonts;
    font-weight: $font-light;
    
    @include respond-min(xs) {
      font-size: 2rem;
    }

    @include respond-min(mid) {
      font-size: 4rem;
    }

    @include respond-min(wide) {
      font-size: 5rem;
    }
  }
  h4 {
    font-size: 1rem;
    font-family: $primary-fonts;
    font-weight: $font-light;   
    line-height: 0;
    margin-top: -85px;
    top: 0;

    @include respond-min(xs) {
      font-size: 1rem;
    }

    @include respond-min(mid) {
      font-size: 1.5rem;
      font-weight: $font-thin; 
    }

    @include respond-min(wide) {
      font-size: 2rem;
    }
  }
}

@-moz-keyframes dropWelcome {
    0% {
        -moz-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes dropWelcome {
    0% {
        -webkit-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dropWelcome {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}