$primary-color: #de4f4f;
$secondary-color: #80bd01; // #4081EA
$tertiary-color: #efefef;
$font-color: #27272b;

$primary-fonts: 'Lato', sans-serif;
$secondary-fonts: 'Droid Serif', serif;
$logo-font: 'Pacifico';

$font-size-base: 16px;
$line-height-base: 1.5;

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;

.selected {
  background-color: $tertiary-color;
}

.container {
  margin: 0 auto;
  width: 50%;
}

body { 
  color: $font-color;
  font-family: $primary-fonts;
  font-size: $font-size-base;
  font-weight: $font-light;
  margin: 0;
}

.task-header {
  font-family: $primary-fonts;
}

ul {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid $tertiary-color;
  padding: 1rem;
}

input[type="button"], 
input[type="submit"],
button {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  padding: 1rem;
  transition: background-color 0.4s linear;
}

input[type="button"]:hover, 
input[type="submit"]:hover,
button:hover {
  background-color: $primary-color;
  border-color: $primary-color;
  color: #fff;
  cursor: pointer;
}

.task {
  border-bottom: 1px solid $tertiary-color;
  list-style: none;
  padding: 1.5rem 0;
  position: relative;
}

.task-name {
  padding-left: 6rem;
}

.task-options {  
  bottom: 0.75rem;
  position: absolute;
  right: 0.25rem;
}

.icon {
  border: 1px solid;
  border-radius: 50% 50%;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}