.footer {
  background: #fff top left url('/images/poly-bg.jpg') repeat-x;
  bottom: 0;
  height: 65px;
  left: 0;
  margin-top: $font-size-base*2;
  position: absolute;
  width: 100%;
  p {
    color: $primary-color;
    margin: 0;
    padding: 1.25rem 1rem;
  }
}